<html>
  <head>
    <title>xkcd: Random Pics</title>
    <style type="text/css">
      body {
        background: #92a5c6;
        color: white;
      }

      div.container {
        max-width: 800px;
        margin: 100px auto;
        border: 2px solid white;
        padding: 1px;
        text-align: center;
      }

      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h4>xkcd: Random Pi</h4>
      <img src="{{url}}"/>
      <p><small>xkcd: <a href="https://xkcd.com/">Random</a></small></p>
    </div>
  </body>
</html>
